@model Hexa.Data.DTOs.NewApplicationWthRdrctDTO

@{
    ViewData["Title"] = "Create";
}
<hr />
<div class="row">
    @*asp-action="Create"*@
    <div class="col-md-4">
        <form method="post">
            <h3>Application: </h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="application.Name" class="control-label"></label>
                <input asp-for="application.Name" class="form-control" />
                <span asp-validation-for="application.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="application.Details" class="control-label"></label>
                <input asp-for="application.Details" class="form-control" />
                <span asp-validation-for="application.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="application.Url" class="control-label"></label>
                <input asp-for="application.Url" class="form-control" />
                <span asp-validation-for="application.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="application.Logo" class="control-label"></label>
                <input asp-for="application.Logo" class="form-control" />
                <span asp-validation-for="application.Logo" class="text-danger"></span>
            </div>

            <hr />

            <h3>Redirect Urls</h3>

            <div class="form-group">
                <label asp-for="redirectURI" class="control-label"></label>
                <input asp-for="redirectURI" class="form-control" />
                <span asp-validation-for="redirectURI" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
